[submodule "lecture1"]
	path = lecture1
	url = https://github.com/funcompbio/lecture1
[submodule "lecture2"]
	path = lecture2
	url = https://github.com/funcompbio/lecture2
[submodule "lecture3"]
	path = lecture3
	url = https://github.com/funcompbio/lecture3
[submodule "practical1"]
	path = practical1
	url = https://github.com/funcompbio/practical1
	branch = docs
[submodule "lecture4"]
	path = lecture4
	url = https://github.com/funcompbio/lecture4
	branch = docs
