[submodule "lecture1"]
	path = lecture1
	url = https://github.com/funcompbio/lecture1
[submodule "lecture2"]
	path = lecture2
	url = https://github.com/funcompbio/lecture2
[submodule "lecture3"]
	path = lecture3
	url = https://github.com/funcompbio/lecture3
[submodule "practical1"]
	path = practical1
	url = https://github.com/funcompbio/practical1
	branch = docs
[submodule "lecture4"]
	path = lecture4
	url = https://github.com/funcompbio/lecture4
	branch = docs
[submodule "practical2"]
	path = practical2
	url = https://github.com/funcompbio/practical2
	branch = docs
[submodule "lecture6"]
	path = lecture6
	url = https://github.com/funcompbio/lecture6
	branch = docs
[submodule "lecture7"]
	path = lecture7
	url = https://github.com/funcompbio/lecture7
	branch = docs
[submodule "lecture5"]
	path = lecture5
	url = https://github.com/funcompbio/lecture5
	branch = docs
[submodule "practical3"]
	path = practical3
	url = https://github.com/funcompbio/practical3
	branch = docs
