[submodule "lecture1"]
	path = lecture1
	url = https://github.com/funcompbio/lecture1
[submodule "lecture2"]
	path = lecture2
	url = https://github.com/funcompbio/lecture2
[submodule "lecture3"]
	path = lecture3
	url = https://github.com/funcompbio/lecture3
[submodule "practical1"]
	path = practical1
	url = https://github.com/funcompbio/practical1
	branch = docs
[submodule "lecture4"]
	path = lecture4
	url = https://github.com/funcompbio/lecture4
	branch = docs
[submodule "practical2"]
	path = practical2
	url = https://github.com/funcompbio/practical2
	branch = docs
[submodule "lecture6"]
	path = lecture6
	url = https://github.com/funcompbio/lecture6
	branch = docs
[submodule "lecture7"]
	path = lecture7
	url = https://github.com/funcompbio/lecture7
	branch = docs
[submodule "lecture5"]
	path = lecture5
	url = https://github.com/funcompbio/lecture5
	branch = docs
[submodule "practical3"]
	path = practical3
	url = https://github.com/funcompbio/practical3
	branch = docs
[submodule "practical4"]
	path = practical4
	url = https://github.com/funcompbio/practical4
	branch = docs
[submodule "practical5"]
	path = practical5
	url = https://github.com/funcompbio/practical5
	branch = docs
[submodule "practical6"]
	path = practical6
	url = https://github.com/funcompbio/practical6
	branch = docs
[submodule "seminar4"]
	path = seminar4
	url = https://github.com/funcompbio/seminar4
	branch = docs
[submodule "practical7"]
	path = practical7
	url = https://github.com/funcompbio/practical7
	branch = docs
[submodule "practical8"]
	path = practical8
	url = https://github.com/funcompbio/practical8
	branch = docs
[submodule "lecture8"]
	path = lecture8
	url = https://github.com/funcompbio/lecture8
	branch = docs
[submodule "lecture9"]
	path = lecture9
	url = https://github.com/funcompbio/lecture9
	branch = docs
[submodule "lecture10"]
	path = lecture10
	url = https://github.com/funcompbio/lecture10
	branch = docs
[submodule "practical9"]
	path = practical9
	url = https://github.com/funcompbio/practical9
	branch = docs
[submodule "practical10"]
	path = practical10
	url = https://github.com/funcompbio/practical10
	branch = docs
