<ul class="menu">

<!--          <li><a class="page-link" href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i>Home</a></li> -->
<li><a class="page-link" href="/setup/"><i class="fas fa-tools"></i> Setup</a></li>
<li><a class="page-link" href="/sessions/"><i class="fas fa-book-reader"></i> Sessions</a></li>
<li><a class="page-link" href="/course-materials/"><i class="fas fa-book"></i> Course Materials</a></li>
<li><a class="page-link" href="https://github.com/{{ site.githubdir }}"><i class="fab fa-github"></i></a></li>
<li><a class="page-link" href="{{ site.moodleurl }}"><i class="fa fa-user fa-lg"></i></a></li> 
    </ul>
